*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #0077b6;
    --clr-primary-dark: #023e8a;
    --clr-primary-light: #48cae4;

    --clr-base: #3f4417;
    --clr-neutral: #ffffff;
    --clr-success: rgb(38, 177, 38);
    --clr-error: red;

    --ff-primary: "Raleway", sans-serif;
    --ff-secondary: "Roboto", sans-serif;

    --fs-h1: 3rem;
    --fs-h2: 2.45rem;
    --fs-h3: 2rem;
    --fs-body: 1rem;

    --border-radius: 0.25rem;
    --box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
    font-family: var(--ff-primary);
}

h1 {
    margin-bottom: 3rem;
    color: var(--clr-primary-dark);
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

body {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}
a {
    text-decoration: none;
}
p {
    line-height: 1.6rem;
    color: var(--clr-base);
}
ul {
    list-style: none;
}
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 0.5rem;
}
textarea {
    resize: none;
}
main {
    min-height: 100vh;
    padding: 4rem 0;
}

/*Utils*/
.container {
    width: 80%;
    /* max-width: 70rem; */
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--clr-primary-light);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}

/*Navigation*/
nav {
    width: 90%;
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.active-nav {
    font-weight: 700;
    color: #023e8a;
}

.nav-links > li:not(:last-child) {
    margin-right: 1rem;
}
.nav-links > li:hover {
    color: var(--clr-primary);
}

/* Posts */
.post {
    position: relative;
    margin: 1rem 0;
    /* padding: 3rem; */
    padding: 3rem 0;
    border-radius: 0.5rem;
}

.post__title {
    margin-bottom: 1rem;
}
.post__btns {
    margin-top: 1rem;
}
.post__btns button:not(:last-child) {
    margin-right: 1rem;
}

/* Modal */
.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
}
.modal.show {
    display: flex;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral);
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 80%;
    max-width: 30rem;
}
.modal-content__title {
    margin-bottom: 1rem;
    text-align: center;
}

.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.modal__close-btn:hover {
    color: var(--clr-base);
}
.modal__submit-btn {
    margin-top: 1rem;
}

/* Inputs */
.input-control {
    margin: 0.5rem 0;
    width: 100%;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.25rem;
}

#add-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80%;
}

/* Toolbar */
.toolbar {
}
.searchbar {
    margin-bottom: 1rem;
}
.searchbar form {
    display: flex;
    max-width: 250px;
}
.searchbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-h3);
    color: var(--clr-neutral);
    background-color: var(--clr-primary);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
}

/* Message */
.message {
    margin-top: 1rem;
    font-size: var(--fs-h3);
    font-family: var(--ff-primary);
}

.message.success {
    color: var(--clr-success);
}
.message.error {
    color: var(--clr-error);
}
